{% extends 'currentData/layout.html' %}
{% block content %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type= "text/javascript">
    document.getElementById("op4").classList.add("active");
</script>

<h2>Parking</h2>
<!--Temperature-->
<table id="gauge-list">
    <tr>
        <td>
            <script type="text/javascript">
              google.charts.load('current', {'packages':['corechart']});
              google.charts.setOnLoadCallback(drawChart);

              function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Day', 'Occupied', 'Max'],
                    {% for data in parking %}
                      [{{data.id}},  {{data.occupation}}, 256],
                    {% endfor %}
                ]);

                var options = {
                  legend: {position: 'top'},
                  hAxis: {title: 'Day',  titleTextStyle: {color: '#333'}},
                  vAxis: {minValue: 0}
                };

                var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
                chart.draw(data, options);
              }
            </script>
            <div id="chart_div" class="graph"></div>
        </td>
    </tr>
</table>
{% endblock %}