{% extends 'currentData/layout.html' %}
{% block content %}

<script type= "text/javascript">
    document.getElementById("op4").classList.add("active");
</script>

{% if user.is_authenticated %}

    <h2>Parking History</h2>

    <table>
        {% for data in parking %}
        <tr>
            <th rowspan="1"><a href="/history/details/parking">{{data.timestamp}}</a></th>
            <td>Occupation</td>
            <td>{{data.occupation}} / 256</td>
        </tr>
        <tr>
            <td class="break" colspan="4"></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h2 id="access">Access denied! Please, login!</h2>
{% endif %}
{% endblock %}