{% extends 'currentData/layout.html' %}
{% block content %}

<h2>Welcome, {{user.username}}!<br> Checkout the university's current state!</h2>

<div id="currentData">
    <table>
        <tr>
            <th rowspan="5">Weather</th>
            <td colspan="2">Temperature</td>
            <td>{{weather.temperature}} ºC</td>
        </tr>
        <tr>
            <td colspan="2">Humidity</td>
            <td>{{weather.humidity}} %</td>
        </tr>
        <tr>
            <td colspan="2">Wind Speed</td>
            <td>{{weather.wind_speed}} m/s</td>
        </tr>
        <tr>
            <td colspan="2">Wind Direction</td>
            <td>{{weather.wind_direction}}</td>
        </tr>
        <tr>
            <td colspan="2">Solar Intensity</td>
            <td>{{weather.solar_intensity}} W/m<sup>2</sup></td>
        </tr>

        <tr>
            <td class="break" colspan="4"></td>
        </tr>

        <tr>
            <th rowspan="1">Parking</th>
            <td colspan="2">Occupation</td>
            <td>{{parking.occupation}} / 256</td>
        </tr>

        <tr>
            <td class="break" colspan="4"></td>
        </tr>

        <tr>
            <th rowspan="3">Network</th>
            <td colspan="2">Latency</td>
            <td>{{network.latency}} ms</td>
        </tr>
        <tr>
            <td colspan="2">Download Speed</td>
            <td>{{network.download_speed}} Mbps</td>
        </tr>
        <tr>
            <td colspan="2">Upload Speed</td>
            <td>{{network.upload_speed}} Mbps</td>
        </tr>

        <tr>
            <td class="break" colspan="4"></td>
        </tr>

        <tr>
            <th rowspan="20">Study Rooms</th>
            <td rowspan="4">Ground Floor</td>
        </tr>
        <tr>
            <td>Temperature</td>
            <td>{{studyroom0.temperature}} ºC</td>
        </tr>
        <tr>
            <td>Occupation</td>
            <td>{{studyroom0.occupation}} / 30</td>
        </tr>
        <tr>
            <td>Noise</td>
            <td>{{studyroom0.noise}} dB</td>
        </tr>

        <tr>
            <td rowspan="4">First Floor</td>
        </tr>
        <tr>
            <td>Temperature</td>
            <td>{{studyroom1.temperature}} ºC</td>
        </tr>
        <tr>
            <td>Occupation</td>
            <td>{{studyroom1.occupation}} / 30</td>
        </tr>
        <tr>
            <td>Noise</td>
            <td>{{studyroom1.noise}} dB</td>
        </tr>

        <tr>
            <td rowspan="4">Second Floor</td>
        </tr>
        <tr>
            <td>Temperature</td>
            <td>{{studyroom2.temperature}} ºC</td>
        </tr>
        <tr>
            <td>Occupation</td>
            <td>{{studyroom2.occupation}} / 30</td>
        </tr>
        <tr>
            <td>Noise</td>
            <td>{{studyroom2.noise}} dB</td>
        </tr>

        <tr>
            <td rowspan="4">Computer Room</td>
        </tr>
        <tr>
            <td>Temperature</td>
            <td>{{studyroom2PC.temperature}} ºC</td>
        </tr>
        <tr>
            <td>Occupation</td>
            <td>{{studyroom2PC.occupation}} / 30</td>
        </tr>
        <tr>
            <td>Noise</td>
            <td>{{studyroom2PC.noise}} dB</td>
        </tr>

        <tr>
            <td rowspan="4">Library</td>
        </tr>
        <tr>
            <td>Temperature</td>
            <td>{{studyroom3.temperature}} ºC</td>
        </tr>
        <tr>
            <td>Occupation</td>
            <td>{{studyroom3.occupation}} / 30</td>
        </tr>
        <tr>
            <td>Noise</td>
            <td>{{studyroom3.noise}} dB</td>
        </tr>

    </table>
</div>
{% endblock %}